<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOURIST</key>
	<string>导游</string>
	<key>ROUTE_TOURISTDISTANCE</key>
	<string>景区行程</string>
	<key>WECLOME_SPEAK</key>
	<string>你好,欢迎使用钟山风景区游客助手,我们将为您提供景点讲解、线路引导、目标查找、安全救援等功能,祝您玩的愉快。</string>
	<key>ROUTE_MENU_INFODETAIL</key>
	<string> 查看详情</string>
	<key>ROUTE_MENU_LOCATION</key>
	<string>定位</string>
	<key>ROUTE_MENU_NAVIGATION</key>
	<string>到这里去</string>
	<key>ROOT_TOP_TITLE</key>
	<string>钟山风景区游客助手</string>
	<key>ROOT_TOP_LOCATION</key>
	<string>当前位置:</string>
	<key>ROOT_PAGE_ONE_TITLE</key>
	<string>钟山资讯</string>
	<key>ROOT_PAGE_ONE_SUBTITLE_ONE</key>
	<string>钟山集结号</string>
	<key>ROOT_PAGE_ONE_SUBTITLE_TWO</key>
	<string>最热门的景点和活动</string>
	<key>ROOT_PAGE_TWO_TITLE</key>
	<string>游览线路</string>
	<key>YUAN</key>
	<string>元</string>
	<key>ROOT_PAGE_TWO_SUBTITLE_ONE</key>
	<string>智能线路规划</string>
	<key>ROOT_PAGE_TWO_SUBTITLE_TWO</key>
	<string>游览不求人</string>
	<key>ROOT_PAGE_THREE_TITLE</key>
	<string>我的导航</string>
	<key>ROOT_PAGE_THREE_SUBTITLE_ONE</key>
	<string>我有景区游览助手</string>
	<key>ROOT_PAGE_THREE_SUBTITLE_TWO</key>
	<string>走哪儿都随心</string>
	<key>ROOT_PAGE_FOUR_TITLE</key>
	<string>团队服务</string>
	<key>ROOT_PAGE_FOUR_SUBTITLE_ONE</key>
	<string>领先的旅游社交应用</string>
	<key>ROOT_PAGE_FOUR_SUBTITLE_TWO</key>
	<string>尽享途中乐趣</string>
	<key>ROOT_PAGE_FIVE_TITLE</key>
	<string>常用导航</string>
	<key>BACK</key>
	<string>返回</string>
	<key>INFO_TABBAR_ITEM_ONE</key>
	<string>季节推荐</string>
	<key>INFO_TABBAR_ITEM_TWO</key>
	<string>最近活动</string>
	<key>INFO_TABBAR_ITEM_THREE</key>
	<string>景区交通</string>
	<key>ROUTE_TABBAR_ITEM_ONE</key>
	<string>自游游览</string>
	<key>INFO_CELL_HOT</key>
	<string>热</string>
	<key>ROUTE_TABBAR_ITEM_TWO</key>
	<string>推荐路线</string>
	<key>ROUTE_TABBAR_ITEM_THREE</key>
	<string>自选景点</string>
	<key>TRAFFIC_SIGHTSEEING</key>
	<string>景区游览车</string>
	<key>TRAFFIC_BUS</key>
	<string>公共交通</string>
	<key>STOP</key>
	<string>停止</string>
	<key>PRICE</key>
	<string>价格</string>
	<key>DISTANCE</key>
	<string>距离</string>
	<key>EXPLAIN</key>
	<string>讲解</string>
	<key>STATE</key>
	<string>说明:</string>
	<key>LINE_STATE</key>
	<string>路线说明</string>
	<key>PUBLIC_TRANSIT</key>
	<string>公共交通</string>
	<key>TOUR_BUSES</key>
	<string>景区游览车</string>
	<key>THEME_LINE</key>
	<string>主题线路</string>
	<key>ROUTINE_LINE</key>
	<string>常规线路</string>
	<key>START_TRAVEL</key>
	<string>开始游览</string>
	<key>GO</key>
	<string>前往</string>
	<key>OUT_OPTION</key>
	<string>请选择导游方式</string>
	<key>LOCATION</key>
	<string>所在地</string>
	<key>SPOT_PARKING</key>
	<string>景区停车场</string>
	<key>SIGHT_SEEING_PARKING</key>
	<string>景区观光车站</string>
	<key>SPOT_ENTRY</key>
	<string>景区入口</string>
	<key>REAL_TRAVEL</key>
	<string>实地导游</string>
	<key>SIMULATE_TRAVEL</key>
	<string>模拟导游</string>
	<key>CANCEL</key>
	<string>取消</string>
	<key>CONFIRM</key>
	<string>确定</string>
	<key>WELCOME_TO_ZHONGSHAN_TITLE</key>
	<string>钟山风景区欢迎您</string>
	<key>MENU</key>
	<string>菜单</string>
	<key>HOME</key>
	<string>首页</string>
	<key>HELP</key>
	<string>求救</string>
	<key>SPOT</key>
	<string>景点</string>
	<key>COMMON</key>
	<string>常用</string>
	<key>AROUND</key>
	<string>周边</string>
	<key>TEAM</key>
	<string>团队</string>
	<key>ROUR_GUIDE</key>
	<string>导游</string>
	<key>SEEK_HELP</key>
	<string>求救</string>
	<key>SCENIC_ZONE_PHONE_ONE</key>
	<string>景区电话一</string>
	<key>SCENIC_ZONE_PHONE_TWO</key>
	<string>景区电话二</string>
	<key>TOURIST_BE_INJURED</key>
	<string>游客受伤</string>
	<key>GOODS_BE_STOLEN</key>
	<string>物品被盗</string>
	<key>DISPUTE</key>
	<string>矛盾纠纷</string>
	<key>RELATIVES_AND_FRIENDS_LOST</key>
	<string>亲友丢失</string>
	<key>TOURIST_SINK</key>
	<string>游客落水</string>
	<key>OTHER_CONDITION</key>
	<string>其他情况</string>
	<key>ONEKEY_ALARM</key>
	<string>一键报警</string>
	<key>EMERGENCY_CALL</key>
	<string>紧急电话</string>
	<key>PHONE_NUMBER_1</key>
	<string>025-84442880</string>
	<key>PHONE_NUMBER_2</key>
	<string>025-84431174</string>
	<key>CALL_TEL</key>
	<string>是否拨打电话</string>
	<key>STR_YES</key>
	<string>是</string>
	<key>STR_NO</key>
	<string>否</string>
	<key>Scenic spot where security guards will come to you, sure you want to call the police?</key>
	<string>景区保安人员将赶到您所在的位置，确定要报警吗？</string>
	<key>MAP_ROTATE</key>
	<string>地图旋转</string>
	<key>BACKGROUND_MUSIC</key>
	<string>背景音乐</string>
	<key>MEDIA_VOLUME</key>
	<string>媒体音量</string>
	<key>SCREEN_LUMINANCE</key>
	<string>屏幕亮度</string>
	<key>VOICE_BROADCAST_SET</key>
	<string>播报语音设置</string>
	<key>ABOUT_US</key>
	<string>关于我们</string>
	<key>FUNCTION_HELP</key>
	<string>功能帮助</string>
	<key>QUICK_SET</key>
	<string>快速设置</string>
	<key>SYSTEM_HELP</key>
	<string>系统帮助</string>
	<key>SET_AND_HELP</key>
	<string>设置与帮助</string>
	<key>ZSTRAVELERASSISTANT</key>
	<string>钟山风景区游客助手</string>
	<key>IPHONEVERSION</key>
	<string>iPhone 1.0</string>
	<key>CONNECT_WAY</key>
	<string>025-12345678/kefu@zhongshan.com</string>
	<key>COPYRIGHT</key>
	<string>版权声明:copyright 苏州迈普 All rights reserved</string>
	<key>ABOUT</key>
	<string>关于</string>
	<key>LANG_SWITCHER</key>
	<string>语言切换</string>
	<key>SEARCH_AROUND</key>
	<string>查找周边</string>
	<key>CLOSEST_NAV</key>
	<string>最近引导</string>
	<key>PARK</key>
	<string>停车场</string>
	<key>TICKET_OFFICE</key>
	<string>售票处</string>
	<key>MEDICAL_CENTER</key>
	<string>医疗点</string>
	<key>TOILET</key>
	<string>洗手间</string>
	<key>SHOP</key>
	<string>商店</string>
	<key>CATERING</key>
	<string>餐饮</string>
	<key>TOUR_BUS</key>
	<string>观光车</string>
	<key>BUS_STATION</key>
	<string>公交站</string>
	<key>CALLBOX</key>
	<string>电话亭</string>
	<key>DIS_UNKNOWN</key>
	<string>距离未知</string>
	<key>PULL_REFUSH</key>
	<string>上拉刷新...</string>
	<key>DOWN_REFUSH</key>
	<string>释放开始刷新...</string>
	<key>ISLOADING</key>
	<string>正在加载...</string>
	<key>NODATA</key>
	<string>没有更多内容了...</string>
	<key>REQUESTEFAILED</key>
	<string>获取失败...</string>
	<key>COMMON_TABBAR_ITEM_ONE</key>
	<string>停车场</string>
	<key>COMMON_TABBAR_ITEM_TWO</key>
	<string>游览车站</string>
	<key>COMMON_TABBAR_ITEM_THREE</key>
	<string>景区出入口</string>
	<key>SPOT_BUS</key>
	<string>景区巴士</string>
	<key>SPOT_INFO</key>
	<string>景点信息</string>
	<key>ROUTE_TRIP</key>
	<string>线路行程</string>
	<key>MYNICK</key>
	<string>我的昵称(1-8 位汉子/数字/字母)</string>
	<key>WHEREFROM</key>
	<string>来自哪里(1-8 位汉子)</string>
	<key>VIEW_LOCATION</key>
	<string>查看位置</string>
	<key>SENDMESSAGE</key>
	<string>发送消息</string>
	<key>GUIDE</key>
	<string>引导</string>
	<key>FREE</key>
	<string>免费</string>
	<key>ADD</key>
	<string>添加</string>
	<key>DELETE</key>
	<string>删除</string>
	<key>BUSINESS</key>
	<string>经营范围</string>
	<key>SELF_CHOOSE_SPOT</key>
	<string>自选景点</string>
	<key>NO_CHOOSED_SPOTS</key>
	<string>您还未选择景点</string>
	<key>MXL_SPOT</key>
	<string>明孝陵景区</string>
	<key>LGS_SPOT</key>
	<string>灵谷寺景区</string>
	<key>ZSL_SPOT</key>
	<string>中山陵景区</string>
	<key>ZSFJQ_SPOT</key>
	<string>钟山风景区</string>
	<key>JQW_STR</key>
	<string>您还未进入钟山风景区</string>
	<key>HAVE_IN</key>
	<string>您已进入</string>
	<key>CHECK_VERSION</key>
	<string>版本检查</string>
	<key>MUST_UPDATE</key>
	<string>抱歉,您的版本过旧,需要下载%@最新版本</string>
	<key>NEED_UPDATE</key>
	<string>检查到新的版本%@,您可以点击确认下载</string>
	<key>ALREADY_CHOSEN</key>
	<string>已选</string>
	<key>NO_SPECIAL_TO_EXPLAIN</key>
	<string>无特殊说明</string>
	<key>DISTANCE_M</key>
	<string>米</string>
	<key>ROUTE_MENU_VIEW</key>
	<string>预览</string>
	<key>ROUTE_WORK</key>
	<string>步行线路</string>
	<key>ROUTE_CAR</key>
	<string>自驾线路</string>
	<key>ROUTE_TOUR_CAR</key>
	<string>游览车线路</string>
	<key>ROUTE_UNKNOW</key>
	<string>未知方式线路</string>
	<key>ROUTE_START</key>
	<string>从 </string>
	<key>ROUTE_LEAVE</key>
	<string>驶离 </string>
	<key>ROUTE_STOP_TO</key>
	<string>从 左侧  到达 </string>
	<key>ROUTE_GO</key>
	<string> 出发</string>
	<key>NO_CAMERA</key>
	<string>没有摄像头</string>
	<key>SPEAK_ONE</key>
	<string>亲爱的游客,您已经离开钟山风景区,欢迎下次游玩.</string>
	<key>SPEAK_TWO</key>
	<string>亲爱的游客,您已经离开灵谷寺景区</string>
	<key>SPEAK_THREE</key>
	<string>亲爱的游客,您已经离开明孝陵景区</string>
	<key>SPEAK_FOUR</key>
	<string>亲爱的游客,您已经离开中山陵景区</string>
	<key>SPEAK_FIVE</key>
	<string>抱歉,没有获取到您的位置,不能为您导游.</string>
	<key>SPEAK_SIX</key>
	<string>抱歉,您还未进入钟山风景区,不能为您导游.</string>
	<key>SPEAK_SEVEN</key>
	<string>抱歉,无法生成该行驶路段.</string>
	<key>SPEAK_REQUEST_ROUTE_ING</key>
	<string>请稍等,系统正在生成路径.</string>
	<key>ERROR</key>
	<string>错误</string>
	<key>START_POINT</key>
	<string>起始点</string>
	<key>MAP</key>
	<string>地图</string>
	<key>SET</key>
	<string>设置</string>
	<key>ROUTE_DETAIL</key>
	<string>线路详情</string>
	<key>METER</key>
	<string>米</string>
	<key>CURRENT_TARGET</key>
	<string> 当前目标：</string>
	<key>NEXT_TARGET</key>
	<string> 下个目标：</string>
	<key>PHOTO</key>
	<string>拍照</string>
	<key>JDQMU</key>
	<string>距当前目标距离</string>
	<key>ZSLPARK</key>
	<string>中山陵停车场</string>
	<key>REQUESTTOWALKROUTE</key>
	<string>当前位置离目的地较近，可以步行到达</string>
	<key>ROUTE_STRUCT_ERROR_LOCATIONOUT</key>
	<string>您再景区外，不能实地导航</string>
	<key>ROUTE_STRUCT_ERROR_NOPARKFIND</key>
	<string>抱歉没有找到停车场</string>
	<key>ROUTE_STRUCT_ERROR_NOENTRANCE</key>
	<string>抱歉没有找到景区入口</string>
	<key>ROUTE_STRUCT_ERROR_NOPARKBINDTOENTRANCE</key>
	<string>抱歉没有找到景区入口附近的停车场</string>
	<key>ROUTE_STRUCT_ERROR_CANNOTNAVINSCENIC</key>
	<string>抱歉您在景区内不能启动驾车模式导航</string>
	<key>ROUTE_STRUCT_ERROR_NOBINDTOUCAR</key>
	<string>抱歉，目标点附近没有游览车经过</string>
	<key>ROUTE_STRUCT_ERROR_CANNOTNAVINSCENIC_TOURCAR</key>
	<string>当前在景区内，目标点也在景区内  不能坐游览车</string>
	<key>ROUTE_STRUCT_ERROR_SYS_TOPOINTOUT</key>
	<string>目标点错误,检查到在风景区外</string>
	<key>ROUTE_STRUCT_ERROR_SYS_NOPARK</key>
	<string>抱歉，未找到之前的停车场</string>
	<key>ROUTE_STRUCT_ERROR_SYS_NOCAR</key>
	<string>抱歉，未找到之前停放的车</string>
	<key>ROUTE_ERROR_NOPARKFOUNINHISTORY</key>
	<string>导航失败，请先去取车再开启导航</string>
	<key>TEAM_CREATER</key>
	<string>创建人：</string>
	<key>NAVIGATION</key>
	<string>导航</string>
	<key>SOORY_IN_APPEND_NAV</key>
	<string>抱歉,您正在处于添加导游模式,请先结束导游或等待导游结束</string>
	<key>KM</key>
	<string>千米</string>
	<key>JOINTEAM</key>
	<string>加入团队</string>
	<key>OFFLINE</key>
	<string>离线</string>
	<key>ONLINE</key>
	<string>在线</string>
	<key>BUSY</key>
	<string>繁忙</string>
	<key>ALERT</key>
	<string>报警</string>
	<key>ALERTSUCCESS</key>
	<string>报警成功</string>
	<key>PEOPLECOUNT</key>
	<string>人 数:</string>
	<key>GATHER</key>
	<string>集合</string>
	<key>GROUPMESSAGE</key>
	<string>群发消息</string>
	<key>QUITTEAM</key>
	<string>退团</string>
</dict>
</plist>
